.Burger {
    width: 100%;
    height: 370px;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin: auto;
    overflow: scroll;
}

@media (min-width: 1000px) and (min-height: 600px) {
    .Burger {
        width: 550px;
        height: 500px;
    }
}